<div class="nav-container">
  <a href="/"><i class="fa-solid fa-house "></i></a>
  <a href="/images"><i class="fa-regular fa-image"></i></a>
  <a href="/videos"><i class="fa-solid fa-video"></i></i></a>
  <a href="/audios"><i class="fa fa-headphones"></i></a>
  <a href="/dev"><i class="fa-regular fa-comment"></i></a>
  <a href="/dev"><i class="fa-regular fa-user"></i></a>
</div>