<h1>Welcome to Pandora's Box</h1>
<p>Manage your files safely and easily!</p>

<% if (!user) { %>
  <p>Don't have an account yet? <a href="/register">Sign Up</a></p>
  <p>Already have an account? <a href="/login">Login</a></p>
<% } else { %>
  <p>Hello, <%= user.name %>! <a href="/files">Go to your files</a></p>
  <div class="row" style="margin-top:12px;">
    <a class="btn btn-primary" href="/upload">Upload New File</a>
    <a class="btn" href="/files">View My Files</a>
  </div>
<% } %>
