<h1>Welcome to Pandora's Box</h1>

<p>Manage your files safely and easily!</p>

<% if (!user) { %>
  <p>Don't have an account yet? <a href="/register">Sign Up</a></p>
  <p>Already have an account? <a href="/login">Login</a></p>
<% } else { %>
  <p>Hello, <%= user.name %>! <a href="/files">Go to your files</a></p>
  <form action="/logout" method="POST">
    <button type="submit">Logout</button>
  </form>
<% } %>
